<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vue Basics</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>
<body>
<header>
    <h1>Monster Slayer</h1>
</header>
<div id="game">
    <div v-if="!gameOver">
    <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
            <div class="healthbar__value " :style="monsterBarStyles">{{monster.health}}</div>
        </div>
    </section>
    <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
            <div class="healthbar__value" :style="playerBarStyles">{{player.health}}</div>
        </div>
    </section>
    <section id="message" class="container">
        <h2>Game message</h2>
        <h3>{{gameMessage}}</h3>
    </section>
    </div>
    <section v-if="gameOver" id="gameOverMessage" class="container">
        <h2>Game Over!</h2>
        <h3>{{gameMessage}}</h3>
    </section>
    <section id="controls">
        <button v-if="!gameOver" @click="processPlayerAttack">ATTACK</button>
        <button v-if="!gameOver" @click="processPlayerSpecialAttack" :disabled="player.specialAttack.cooldown > 0">SPECIAL ATTACK (CD: {{player.specialAttack.cooldown}} rounds) </button>
        <button v-if="!gameOver" @click="processPlayerHeal">HEAL</button>
        <button v-if="!gameOver" @click="surrender">SURRENDER</button>
        <button v-if="gameOver" @click="startGame" >Start game</button>
    </section>
    <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul v-for="logEntry in battleLog">{{logEntry}}</ul>
    </section>
</div>
</body>
</html>
